//sync/step3
extends /layout

block css
  link(rel="stylesheet" type="text/css" href="/stylesheets/sync.css")

block content
  .jumbotron.white
    .container-fluid
      ul.nav.nav-tabs(role="tablist")
        li.active(role="presentation")
          a(href="#sync" aria-controls="home" role="tab" data-toggle="tab") Sync
        li(role="presentation")
          a(href="#settings" aria-controls="profile" role="tab" data-toggle="tab") Settings

      .tab-content
        #sync.tab-pane.active(role="tabpanel")
          include ./sync/index.jade

        #settings.tab-pane(role="tabpanel")
          include ./settings.jade


block scripts
  script.
    var keyTo = "#{keyTo}";
    var keyFrom = "#{keyFrom}";

  script(src="/javascripts/sync.js")
