.login-container {
    padding: 25px;
}

.form-login {
    background-color: #EDEDED;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4.title { 
    border:0 solid #fff; 
    border-bottom-width:1px;
    padding-bottom:10px;
    text-align: center;
    word-wrap: break-word;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

.login-padding {
    max-width:300px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    min-width:230px;
}