.avatar-small {
    width:16px;
    height:16px;
}
.avatar-large {
    width:64px;
    height:64px;
}
.avatar-medium {
    width:32px;
    height:32px;
}

.pading-left {
    padding-left: 10px;
}

.title {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

a {
    color: #333
}

.table tr > td > span.action {
  cursor: pointer;
}

.sortable {
    cursor: pointer;
}

.settings-well {
    min-height: 20px;
    padding: 18px;
    margin-bottom: 20px;
}

.float {
    float:left;
}

.clear {
    clear: both;
}
