//index
extends layout

block content
  .jumbotron.condensed
    .container-fluid
      h1 Jira Sync
      p.lead I would like to sync up two JIRA servers
      p
        a.btn.btn-primary.btn-large(href='/sync' target="_self") Start here &raquo;

  .jumbotron.white
    .container-fluid
      h2 Getting started
      p Set up synchronization on JIRA server
      p
        a.btn.btn-default(href='' target='_blank') Learn more &raquo;
